input {
    mod-key "Super"
    focus-follows-mouse max-scroll-amount="0%"

    keyboard {
        xkb {
            layout "lv"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

environment {
    NIXOS_OZONE_WL "1"
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }

    hot-corners {
        off
    }
}
