prefer-no-csd

window-rule {
    open-maximized true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// WezTerm initial-configure workaround
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Firefox PiP floats
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
